/* GRIDING ELEMENTS */
body {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 1rem;
  background: white;
  font-size: 16px;
  font-family: Alaska, sans-serif;
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
  box-sizing: border-box;
}
span {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}
.page-body {
  display: grid;
  gap: 3em;
}

/*---------------------------------------------NAV WORK----------------------------------------------*/

.page-header {
  box-shadow: 0 0 30px rgb(0, 0, 0, 15%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 3em;
}
.nav-bar > ul {
  padding: 0;
  max-width: 100vw;
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  justify-content: center;
}
.nav-bar > ul > li {
  font-size: 18px;
  font-family: Alaska, sans-serif;
  font-weight: 600;
  margin: 0 0.5em;
  padding: 0.5em;
}
.nav-bar > ul > li > a {
  text-transform: uppercase;
  letter-spacing: 0;
  word-spacing: 0px;
}
.nav-bar-link1 {
  color: #db2c00;
}
.nav-bar-link2 {
  color: #9fbef9;
}
.nav-bar-link3 {
  color: rgb(85, 145, 85);
}
.nav-bar-link4 {
  color: palevioletred;
}
.nav-bar-link5 {
  color: crimson;
}

/*----------------------------------------INFORMATION SECTION CSS ---------------------------------------*/

.informations {
  display: grid;
  gap: 3em;
  background: linear-gradient(90deg, #6e9ef7, #23a9a0);
  color: white;
  max-width: 100vw;
  padding: 8rem;
  box-sizing: border-box;
}
.informations div {
}
.informations div h2 {
  font-weight: 900;
  font-size: 26px;
}
.informations div p {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5em;
  margin: auto 5vw;
  color: rgb(255, 251, 251);
  text-justify: newspaper;
}
.informations div p a {
  color: white;
}
.informations .information-1 {
}
.informations .information-2 {
}

/*---------------------------------------- Resources Section---------------------------------------------- */
.resources-section a {
  color: #6e9ef7;
  font-size: 18px;
  font-weight: 500px;
}
.resources-section {
  display: grid;
  gap: 2em;
  background-size: 500%;
  background-image: linear-gradient(
    50deg,
    #80e5de,
    #56dcd3,
    #23a9a0,
    #1a7f78,
    #115550
  );
  animation: backgroundanim 3s infinite alternate;
  padding: 7rem;
  max-width: 100%;
  width: fit-content;
  justify-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.resources-section-header > h2 {
  text-decoration: solid;
}
.resources-section-box {
  display: grid;
  gap: 2rem;
  width: fit-content;
  padding: 0 4vw;
  padding-bottom: 10vh;
  grid-template-columns: repeat(3, 1fr);
  background: white;
  color: black;
  border-radius: 30px;
}
.resources-section-box-header {
  grid-column: span 3;
  margin-bottom: 1em;
}
.resources-section-box-header h3 {
  font-size: 26px;
  font-weight: 900;
  color: #6e9ef7;
  text-align: center;
}
.resources-section-box-header p {
  font-size: 22px;
  font-weight: 500;
  line-height: 2em;
}
.resources-section-box div img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.resources-section-box div {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2em;
}

.resources-section div p {
  grid-column: span 2;
  font-size: 19px;
}
.resources-section div span {
  font-size: 16px;
}
.resources-section-box-innerbox {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  color: black;
  border-radius: 25px;
  border: 1px solid black;
  max-width: 100%;
  padding: 0 1vw;
  box-sizing: border-box;
}
.resources-section-box-innerbox h4 {
  width: min-content;
  color: #1a7f78;
  font-weight: bold;
}

@keyframes backgroundanim {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

/*------------------------------------ Contact section+Footer -------------------------------------------- */
.contact-list-section {
  display: grid;
  gap: 2em;
  background-color: whitesmoke;
  justify-items: center;
  align-items: center;
}
.contact-list-section header {
  text-align: center;
}
.contact-list-section ul {
  padding: 0;
  max-width: 100vw;
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  justify-content: center;
}
.contact-list-section > ul > li {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  font-size: 14px;
  font-family: Alaska, sans-serif;
  font-weight: 600;
  margin: 0 0.5em;
  padding: 0.5em;
  justify-items: center;
  align-items: start;
}
.contact-list-section img {
  width: 70px;
  height: 70px;
}
